#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #444;
	height: 50px;
	text-align: left;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
	z-index: 99;
 }
 
 #navigation a {
 	font-family: 'Lucida Grande', sans-serif;
 	font-weight: 600;
 /*	font-size: 14px;*/
 	padding-left: 15px;
 	padding-right: 15px;
 	color: white;
 	text-decoration: none;
 }

 #text {
 	position: absolute;



  /*padding: 0;*/

 	background: white;
 	

 }
 
 #text h1, h2, p {
 	font-family: 'Open Sans Condensed', sans-serif;
 	font-weight: 600;
 	color: black;
 	text-align: left;
 }
 